    $text :#333333;
    $input :#898f96;
    $blue:#0674ec;
    $title: #f3f3f8;
    $bluegr: #441c7c;
    $grey: #676767;
    $select: #555555;
    $slider-bg: #eff1f5;
    $purple:#7347c1;
    $link-bg:#f1f3f6;
    $cart: #0674ec;
    $prod-bg: #f6f7fb;
    $btn-text: #747b86;