@import 'vars';
@import 'global';
@import 'fonts';
.header {
    background-color: #eef1f3;
    &__top {
        height: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-text {
        font-weight: 700;
        font-size: 30px;
        line-height: 28px;
        padding-left: 60px;
        padding-top: 5px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: -5px;
            width: 50px;
            height: 50px;
            background-image: url(../images/Logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        span {
            color: #0674ec;
        }
    }
    &__btn {
        margin-left: auto;
        width: 140px;
        height: 35px;
        margin-right: 50px;
        font-weight: 500;
        background-color: $blue;
        color: white;
        border-radius: 17px;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        padding: 3px 16px 13px 10px;
    }
    &__social {
        min-width: 140px;
        margin-right: 30px;
        a+a {
            margin-left: 30px;
        }
        img {
            vertical-align: middle;
        }
    }
    &__account {
        align-items: center;
        min-width: 172px;
        display: flex;
        justify-content: space-between;
    }
    &__user-avatar {
        //margin-left: 20px;
        //margin: 0 0 0 20px;
    }
    &__user {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        span {
            font-size: 15px;
            font-weight: 400;
            color: $blue;
            display: block;
        }
        &-name {
            color: $text;
        }
    }
}

.header__bottom {
    background-color: white;
    height: 80px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    &__list {
        padding: 0;
        li {
            display: inline-block;
            text-transform: uppercase;
            &+li {
                margin-left: 31px;
            }
        }
        a {
            color: $text;
            font-size: 15px;
            font-weight: 500;
            line-height: 42px;
        }
    }
}

.header__search {
    position: relative;
    input {
        min-width: 360px;
        height: 46px;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        padding: 16px 85px 16px 25px;
        font-size: 15px;
        line-height: 30px;
        &::placeholder {
            color: $input;
        }
    }
    button {
        position: absolute;
        right: 0;
        width: 70px;
        height: 46px;
        border-radius: 23px;
        background-color: $blue;
        outline: none;
        border: none;
        padding: 15px 0;
    }
}