html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background-color: rgb(34, 0, 128);
}
.box {
    display: flex;

    font-size: 12px;
    border: 1px solid black;
}
.text {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
